.range-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #169595;
}

.number-display {
  position: absolute;
  top: 10vh;
  font-size: 44px;
  color: white;
  font-weight: bold;
}

.wifi-circle-custom {
  height: 0;
  border: 1rem solid #7fa5a5;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wifi-circle-custom.top {
  width: 10rem;
}

.wifi-circle-custom.first {
  width: 7.5rem;
}

.wifi-circle-custom.second {
  width: 5rem;
}

.wifi-circle-custom.third {
  width: 2.5rem;
}

.wifi-circle-custom.fourth {
  width: 0.5rem;
}
