.range-outer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #169595;
}

.range-inner-container{
    position: relative;
        display: inline-block;
        height: 44px;
}


.wifi-symbol {
    /* display: block; */
}

.wifi-symbol [foo],
.wifi-symbol {
    display: block;
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: -187.5px;
    -ms-transform: rotate(-45deg) translate(-100px);
    -moz-transform: rotate(-45deg) translate(-100px);
    -o-transform: rotate(-45deg) translate(-100px);
    -webkit-transform: rotate(-45deg) translate(-100px);
    transform: rotate(-45deg) translate(-100px);
}

.wifi-symbol .wifi-circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 21.4285714286px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: #7FA5A5;
    border-style: solid;
    border-width: 1.3em 1.3em 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.wifi-symbol .wifi-circle.top {
    width: 9em;
    height: 9em;
}

.wifi-symbol .wifi-circle.first {
    width: 7em;
        height: 7em;
}

.wifi-symbol .wifi-circle.second {
    width: 5em;
    height: 5em;
}

.wifi-symbol .wifi-circle.third {
    width: 3em;
    height: 3em;
}

.wifi-symbol .wifi-circle.fourth {
    width: 1em;
    height: 1em;
    opacity: 1;
    background-color: #7FA5A5;
}

.number-display{
    position: absolute;
    top: 10vh;
    font-size:44px;
    color:white;
    font-weight:bold;
}
